.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.ms-auto {
    margin-left: auto;
}
.me-auto {
    margin-right: auto;
}

// Spacing
@each $i, $space in $spacings {
    .m-#{$i}  { margin: $space; }
    .mt-#{$i} { margin-top: $space; }
    .me-#{$i} { margin-right: $space; }
    .mb-#{$i} { margin-bottom: $space; }
    .ms-#{$i} { margin-left: $space; }
    .mx-#{$i} {
        margin-left: $space;
        margin-right: $space;
    }
    .my-#{$i} {
        margin-top: $space;
        margin-bottom: $space;
    }

    .p-#{$i}  { padding: $space; }
    .pt-#{$i} { padding-top: $space; }
    .pe-#{$i} { padding-right: $space; }
    .pb-#{$i} { padding-bottom: $space; }
    .ps-#{$i} { padding-left: $space; }
    .px-#{$i} {
        padding-left: $space;
        padding-right: $space;
    }
    .py-#{$i} {
        padding-top: $space;
        padding-bottom: $space;
    }
}
// Spacing breakpoint
@each $breakpoint, $value in $breakpoints {
    @include mq(#{$breakpoint}) {
        @each $i, $space in $spacings {
            .m-#{$breakpoint}-#{$i}  { margin: $space; }
            .mt-#{$breakpoint}-#{$i} { margin-top: $space; }
            .me-#{$breakpoint}-#{$i} { margin-right: $space; }
            .mb-#{$breakpoint}-#{$i} { margin-bottom: $space; }
            .ms-#{$breakpoint}-#{$i} { margin-left: $space; }
            .mx-#{$breakpoint}-#{$i} {
                margin-left: $space;
                margin-right: $space;
            }
            .my-#{$breakpoint}-#{$i} {
                margin-top: $space;
                margin-bottom: $space;
            }

            .p-#{$breakpoint}-#{$i}  { padding: $space; }
            .pt-#{$breakpoint}-#{$i} { padding-top: $space; }
            .pe-#{$breakpoint}-#{$i} { padding-right: $space; }
            .pb-#{$breakpoint}-#{$i} { padding-bottom: $space; }
            .ps-#{$breakpoint}-#{$i} { padding-left: $space; }
            .px-#{$breakpoint}-#{$i} {
                padding-left: $space;
                padding-right: $space;
            }
            .py-#{$breakpoint}-#{$i} {
                padding-top: $space;
                padding-bottom: $space;
            }
        }
    }
}



// w-{breakpoint}-100
@each $breakpoint, $size in $breakpoints {
    @include mq(#{$breakpoint}) {
        .w-#{$breakpoint}-100 {
            width: 100%;
        }
    }
}

// text
.text-center {
    text-align: center;
}
.text-primay {
    color: map-get($neutral, 900);
}
.text-secondary {
    color: map-get($neutral, 600);
}
.text-muted {
    color: map-get($neutral, 500);
}
.text-highlight {
    color: map-get($primary, 400);
}
.text-on-dark {
    color: map-get($neutral, 0);
}

// link
[class*="link"] {
    transition: .3s;

    &:disabled, &.disabled {
        opacity: .4;
    }
}
.link-primary {
    border-bottom: 1px solid map-get($primary, 400);
    padding-bottom: map-get($spacings, 1);
    color: map-get($primary, 400);

    &:hover, &:focus, &.active {
        color: map-get($primary, 500);
    }
}
.link-neutral {
    @include space(padding, 3, 0);
    color: map-get($neutral, 900);

    &:hover {
        color: map-get($neutral, 600);
    }

    &:focus, &.active {
        border-bottom: 2px solid map-get($neutral, 900);
        color: map-get($neutral, 900);
    } 
} 