// -----------------------------
// Color Palette
// -----------------------------

// Primary
$primary: (
    100: #F5FEE7,
    200: #E8FEC5,
    300: #C0FA73,
    400: #57A203,
    500: #477A11
);

// Neutral
$neutral: (
    0: #FFFFFF,
    100: #F8F9FA,
    200: #E9ECEF,
    300: #DEE2E6,
    400: #CED4DA,
    500: #ADB5BD,
    600: #6C757D,
    700: #495057,
    800: #343A40,
    900: #212529
);

// Danger
$danger: (
    100: #FCF1F1,
    200: #EBA7A7,
    300: #D74F4F
);

// Warning
$warning: (
    100: #FEF6EC,
    200: #F9C588,
    300: #F38B12
);

// Success
$success: (
    100: #EFF8F4,
    200: #9AD1BA,
    300: #36A375
);

// Info
$info: (
    100: #EEF5FC,
    200: #97C3ED,
    300: #3087DB
);

// -----------------------------
// Font Sizes
// -----------------------------
$font-sizes: (
    display-1: 4rem,
    display-2: 3rem,
    h1: 2.5rem,             // 40px
    h2: 2rem,               // 32px
    h3: 1.75rem,            // 28px
    h4: 1.5rem,             // 24px
    h5: 1.25rem,            // 20px
    h6: 1rem,               // 16px
    label-lg: 1.25rem,      // 20px
    label-md: 1rem,         // 16px
    label-sm: .875rem,      // 14px
    label-xs: .75rem,       // 12px
    p-lg: 1.25rem,          // 20px
    p-md: 1rem,             // 16px
    p-sm: .875rem,          // 14px
    p-xs: .75rem            // 12px
);

// -----------------------------
// Font Weights
// -----------------------------
$font-weights: (
    medium: 500,
    bold: 700
);

// -----------------------------
// Line Heights
// -----------------------------
$line-heights: (
    normal: 1.2,
    relaxed: 1.5
);

// -----------------------------
// Letter Spacing
// -----------------------------
$letter-spacings: (
    normal: 0.014em,
    wide: 0.05em
);

// -----------------------------
// Spacing Utilities Generator
// -----------------------------
$spacing: 1rem;
$spacings: (
    0: 0,
    1: $spacing * .25,   // xxs   4px
    2: $spacing * .5,    // xs    8px
    3: $spacing * .75,   // s    12px
    4: $spacing,         // m    16px
    5: $spacing * 1.5,   // l    24px
    6: $spacing * 2,     // xl   32px
    7: $spacing * 2.5,   // 2xl  40px
    8: $spacing * 3,     // 3xl  48px 
    9: $spacing * 3.5,   // 4xl  56px
    10: $spacing * 4,    // 5xl  64px
    11: $spacing * 5     // 6xl  80px
);

// -----------------------------
// Border Radius
// -----------------------------
$radius: (
    sm: .25rem,
    md: .75rem,
    rounded: 62.5rem
);

// -----------------------------
// Responsive Breakpoints
// -----------------------------
$breakpoints: (
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);