<section class="call-to-action py-5 p-sm-5">
            <div class="d-flex justify-content-center align-items-center">
                <h4 class="h4 h5-sm me-5 me-sm-4 w-xs-100">加入會員取得 9 折優惠</h4>
                <a href="register.html" class="btn btn-neutral-fill label-md">馬上註冊</a>
            </div>
        </section>