<footer class="footer">
        <div class="container">
            <div class="d-flex align-items-center mb-4">
                <h1 class="logo">
                    <a href="index.html">
                        <img src="../assets/images/logo.svg" alt="URBNSTEP">
                    </a>
                </h1>
                <ul class="navbar-nav d-flex ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="product-list.html">商品列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">品牌故事</a>
                    </li>
                </ul>
            </div>
            <div class="copyright text-center">
                <p class="mb-1">Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </footer>