<header class="header py-3">
    <div class="container">
        <div class="d-flex align-items-center">
            <h1 class="logo mr-5">
                <a href="index.html">
                    <img src="../assets/images/logo.svg" alt="URBNSTEP">
                </a>
            </h1>
            <nav>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="product-list.html">商品列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">品牌故事</a>
                    </li>
                </ul>
            </nav>
            <button class="btn member ml-auto">
                <i class="bi bi-person"></i>
            </button>
        </div>
    </div>
</header>