.breadcrumb .breadcrumb-item {
    display: flex;
    color: $neutral-900;

    a {
        margin-right: .75rem;
        color: $neutral-600;

        &:hover {
            color: $primary-400;
        }
    }

    &::before {
        content: "/";
        margin-right: .75rem;
        color: $neutral-300;
        font-weight: 700;
        letter-spacing: 0;
    }

    &:first-child:before {
        display: none;
    }
}