.breadcrumb { 
    .breadcrumb-item {
        display: flex;
        color: map-get($neutral, 900);

        a {
            margin-right: map-get($spacings, 8);
            color: map-get($neutral, 600);

            &:hover {
                color: map-get($primary, 400);
            }
        }

        &::before {
            content: "/";
            margin-right: map-get($spacings, 3);
            color: map-get($neutral, 300);
            font-weight: map-get($font-weights, bold);
            letter-spacing: 0;
        }

        &:first-child:before {
            display: none;
        }
    }
}