// btn
[class*="btn"] {
    transition: .3s;

    &:disabled, &.disabled {
        opacity: .4;
    }
}
.btn {
    border-radius: map-get($radius, sm);
    @include space(padding, 3, 5);

    &.btn-sm {
        @include space(padding, 2, 4);
    }
}
.btn-primary {
    color: map-get($neutral, 900);
    background: map-get($primary, 300);

    &:hover, &:focus, &.active {
        color: map-get($primary, 500);
    }
}
.btn-neutral-fill {
    color: map-get($neutral, 0);
    background: map-get($neutral, 900);

    &:hover, &:focus, &.active {
        background: map-get($neutral, 700);
    }
}
.btn-neutral-outlined {
    border: 1px solid map-get($neutral, 900);
    color: map-get($neutral, 900);

    &:hover, &:focus, &.active {
        color: map-get($neutral, 0);
        background: map-get($neutral, 900);
    }
}