.navbar-nav {
    display: flex;
    
    .nav-item {
        &:first-child {
            margin-right: map-get($spacings, 7);
        }

        .nav-link {
            color: map-get($neutral, 900);

            &:hover, &:focus, &.active {
                color: map-get($neutral, 600);

                @include mq(md) {
                    color: map-get($neutral, 900);
                }
            }
        }   
    }  
}