.pagination {
    display: flex;
    
    .page-item {
        margin: 0 .25rem;
        max-width: 40px;
        width: 100%;

        &:first-child {
            margin-right: .5rem;
        }

        &:last-child {
            margin-left: .5rem;
        }

        .arrow {
            padding: .625rem;
            font-family: initial;
            font-size: 1.25rem;
            line-height: 0;
            letter-spacing: 0;
            text-align: center;
            transition: .3s;

            &.disabled, &.disabled:hover {
                color: map-get($neutral, 900);
                cursor: default;
                opacity: .4;
                pointer-events: none;
            }

            &:hover {
                color: map-get($primary, 400);
            }
        }

        .page-link {
            padding: .5rem 0;
            text-align: center;

            &:hover {
                background: map-get($neutral, 100);
            }

            &.active, &:active {
                background: map-get($primary, 300);
            }
        }
    }
}