.pagination {
    display: flex;
    justify-content: center;
    
    .page-item {
        @include space(margin, 0, 1);
        max-width: 40px;
        width: 100%;

        &:first-child, &:last-child {
            @include space(margin, 0);
        }

        &:first-child {
            margin-right: map-get($spacings, 2);
        }

        &:last-child {
            margin-left: map-get($spacings, 2);
        }
    }

    .page-link {
        display: block;
        @include space(padding, 2, 0);
        text-align: center;

        &:hover {
            background: map-get($neutral, 100);
        }

        &.active {
            background: map-get($primary, 300);
        }
    }

    .arrow {
        padding: .625rem;
        font-size: 1.25rem;

        &:hover {
            color: map-get($primary, 400);
            background: inherit;
        }
    }

    .disabled, :disabled {
        cursor: default;
        opacity: .4;
        pointer-events: none;
    }
}