.call-to-action {
    background: map-get($primary, 200);

    .h4 {
        margin-right: map-get($spacings, 5);
    }

    @include mq(sm) {
        .h4 {
            margin-right: map-get($spacings, 4);
        }
        
        .btn {
            @include space(padding, 2, 4);
        }
    }

    @include mq(xs) {
        @include space(padding, 5);

        .d-flex {
            flex-wrap: wrap;
        }

        .h4 {
            margin: 0 auto;
            margin-bottom: map-get($spacings, 4);
        }

        .btn {
            @include space(padding, 3, 5);
        }
    }
}