.call-to-action {
    background: map-get($primary, 200);

    @include mq(sm) {
        .btn {
            @include space(padding, 2, 4);
        }
    }

    @include mq(xs) {
        @include space(padding, 5);

        .d-flex {
            flex-wrap: wrap;
        }

        .h4 {
            margin: 0 auto;
            margin-bottom: map-get($spacings, 3);
            text-align: center;
        }
    }
}