.container {
    margin: 0 auto;
    max-width: 1320px;
    @include px(3);
    @include container-maxwidth;
}

.d-flex, .row {
    display: flex;
}

.row {
    flex-wrap: wrap;
    @include row-gutter-negative(3);
}

.row>* {
    max-width: 100%;
    @include px(3);
}

.row.g-1>* {
    padding: 0 .25rem;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

// -----------------------------
// Col-* Grid
// -----------------------------
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / 12 * #{$i});
  }
}