.header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, .98);
    backdrop-filter: blur(10px);
    z-index: 5;

    .member {
        @include space(padding, 3);
        color: map-get($neutral, 900);
        font-size: 1.5rem;

        &:hover {
            color: map-get($primary, 400);
        }
    }

    @include mq(sm) {
        .container {
            @include space(padding, 0);
            max-width: inherit;
        }
        
        .d-flex {
            flex-wrap: wrap;
        }

        .nav {
            display: none;

            &.d-sm-block {
                display: block;
            }
        }

        .navbar-nav .nav-item {
            margin: map-get($spacings, 0);
            width: calc(100% / 2);
            text-align: center;
            background: map-get($primary, 200);

            &:last-child {
                background: map-get($primary, 100);
            }
        }

        .member {
            position: absolute;
            right: map-get($spacings, 3);
            top: map-get($spacings, 3);

            i {
                position: relative;
                top: 0;
                right: 0;
            }
        }
    }
}