.brand-urbnstep {
    padding: 15.1% 0;
    background: url('../images/banner.png') no-repeat center center #000000;
    background-size: cover;

    .container {
        max-width: 1528px;
        @include container-maxwidth;
    }

    @include mq(sm) {
        padding: 155px 0;
        background: url('../images/banner-sm.png') no-repeat center center #000000;
        background-size: cover;

        .container {
            @include space(padding, 0, 5);
        }
    }
}

.new-arrival {
    @include mq(sm) {
        .product-demo {
            .row > * {
                @include space(padding, 0);
            }
            .row, .row > * {
                padding: 0 .375rem;
            }
        }
    }
}

.best-seller {
    .h2 {
        padding: 5px 0;
    }

    .product-link {
        position: relative;
    }

    .badge {
        position: absolute;
        left: 0;
        top: 0;
        @include space(padding, 1, 3);
        background: map-get($primary, 100);

        .label-sm {
            color: map-get($primary, 400);
        }
    }

    @include mq(sm) {
        .h2.h4-sm {
            padding: 5.5px 0;
        }
    }
}

.sales-banner {
    .banner {
        padding: 6.25rem 0;
        height: 100%;
    }

    .banner-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 634px;
    }

    .b1 .banner-body {
        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            animation: flash .7s ease-in-out infinite;
        }

        &::before {
            top: -1.6rem;
            left: -3.2rem;
            width: 48px;
            height: 48px;
            background: url('../images/star.svg') no-repeat center center;
            background-size: cover;
        }

        &::after {
            right: -1.6rem;
            bottom: 1.6rem;
            width: 76px;
            height: 64px;
            background: url('../images/sparkle.svg') no-repeat center center;
            background-size: cover;
        }

        @keyframes flash {
            0%, 100%, 50% {
                opacity: 1
            }

            25%, 75% {
                opacity: 0
            }
        }
    }

    .b2 {
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
    }

    .swiper-pagination {
        bottom: map-get($spacings, 2);

        .swiper-pagination-bullet {
            background: map-get($neutral, 400);
            opacity: inherit;
            transition: .3s;
        }

        .swiper-pagination-bullet-active {
            border-radius: map-get($radius, sm);
            @include space(padding, 0, 3);
            background: map-get($neutral, 600);
        }
    }

    @include mq(sm) {
        .banner {
            @include space(padding, 10, 0);
        }

        .d-flex {
            flex-direction: column;
            align-items: center;
        }

        .banner-body {
            .p-md {
                max-width: 310px;
                text-align: center;
            }
        }

        .b1 .banner-body {
            &::before {
                top: -1.6rem;
                left: -1.4rem;
            }
            &::after {
                right: -1.7rem;
                bottom: 3rem;
            }
        }
    }
}

.series {
    .product-link {
        position: relative;

        .h3 {
            transition: .3s;
        }

        &:hover {
            .h3 {
                color: map-get($primary, 300);
            }
        }
    }

    .product-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
    }

    @include mq(sm) {
        .product-list {
            .row > * {
                @include space(padding, 0);
            }
            .row, .row > * {
                padding: 0 .375rem;
            }
        }
    }
}

.outfit {
    .outfit-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: map-get($spacings, 2);
    }

    .item-5, .item-6 { 
        grid-column: span 2; 
        grid-row: span 2; 
    }

    @include mq(lg) {
        .outfit-list {
            grid-template-columns: repeat(3, 1fr);
            gap: map-get($spacings, 3);
        }

        .item-2, .item-10 { 
            grid-column: span 2; 
            grid-row: span 2; 
        }

        .item-5, .item-6 { 
            grid-column: span 1; 
            grid-row: span 1; 
        }
    }

    @include mq(sm) {
        .container {
            padding-right: 0;
        }

        .h4-sm {
            padding: 5.5px 0;
        }

        .outfit-list {
            display: flex;
            // gap: map-get($spacings, 4);
            gap: initial;
            margin: 0 - map-get($spacings, 2);
        }

        .outfit-item {
            @include space(padding, 0, 2);

            &:last-child {
                padding-right: map-get($spacings, 1);
            }
        }
    }
}