.brand-vision {

    padding: 151px 0;
    background: url('../images/hero.png') no-repeat center top rgba(0, 0, 0, 0.4);
    background-size: cover;

    @media (max-width: 1200px) {
        padding: 5rem 0;
    }

    .h1 {
        color: $neutral-0;
        font-size: 2.5rem; 
    }

    .h3 {
        color: $neutral-0;
        font-size: 1.75rem;
    }

}

.section {

    max-width: 1076px;

    .quote, .container {
        max-width: 856px;
    }

    .quote {
        border-radius: .75rem;
        background: $primary-100;
    }

    .container { 
        border-bottom: 1px solid $neutral-300;

        @media (max-width: 1200px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .h4 {
        font-size: 1.5rem;
    }

    .h5 {
        color: $primary-400;
        font-size: 1.25rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    p {
        color: $neutral-900;
        font-size: 1rem;
    }

    .brand-intro {
        h5, p {
            text-align: justify;
        }
    }

    .brand-history {

        li {
            color: $neutral-900;

            span {
                margin-left: .5rem;
                padding-left: .5rem;
                border-left: 1px solid $neutral-900;
            }
        }

    }

    .brand-concept {

        li {
            border-left: 3px solid $neutral-300;
            padding-left: .5rem;
            color: $neutral-900;
        }

    }

    .brand-story {

        a {
            display: block;
            padding: .5rem 0;
            color: $primary-400;
            font-size: 1rem;
            text-decoration: none;
            transition: .3s;

            i {
                font-size: 1.25rem;
                vertical-align: middle;
            }

            span {
                border-bottom: 1px solid $primary-400;
                margin-left: .25rem;
                padding-bottom: .25rem;
            }
        }

        a:hover {
            color: $neutral-900;
            transition: .3s;
            
            span {
                border-bottom: 1px solid $neutral-900;
            }
        }

    }

}