.product {
    .h3 {
        padding: 7px 0;
    }

    .nav {
        position: sticky;
        top: map-get($spacings, 11);
    }

    .nav-link {
        &:hover, &.active {
            color: map-get($primary, 400);
        }
    }

    @include mq(xl) {
        .nav {
            display: flex;
        }
    }

    @include mq(sm) {
        .h4-sm {
            padding: 9.5px 0;
        }
        .product-list > * {
            @include space(padding, 0);
        }
        .product-list, .product-list > * {
            padding: 0 .375rem;
        }
    }
}

.product-link {
    .product-img {
        transition: .3s;
    }

    &:hover .product-img {
        opacity: .75;
    }
}