.product {
    padding: 2rem 0;

    .h3 {
        padding: 7px 0;
        font-size: 1.75rem;
    }

    .nav {
        position: sticky;
        top: 5rem;
    }

    .nav .nav-item {
        margin-bottom: 1rem;
        
        .nav-link {
            padding: .75rem 0;
            transition: .3s;
    
            &:hover, &.active {
                color: map-get($primary, 400);
            }
        }
    }

    @media (max-width: 1200px) {
        .nav {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: .75rem;

            .nav-item {
                margin: 0 .5rem;

                &:first-child {
                    margin-left: 0;
                }

                @media (max-width: 768px) {
                    margin: 0;
                    width: calc(100% /2);
                }
            }
        }
    }
}

.product-item {
    .product-img {
        transition: .5s;
    }

    &:hover .product-img {
        opacity: .75;
    }
}