@include mq(sm) {
    .col-7.col-xl-4 {
        @include space(padding, 0);
    }
}

.product-images { 
    .row {
        @include space(padding, 0, 2);
    }

    .row > * {
        @include space(padding, 0, 1);
    }

    .swiper-pagination {
        display: none;
    }

    @include mq(lg) {
        max-width: 540px;

        .row {
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0 auto;
            @include space(padding, 0);
        }

        .row > * {
            @include space(padding, 0);
        }

        .swiper-side {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .swiper-pagination {
            display: block;
            padding-right: map-get($spacings, 3);
            text-align: right;
            bottom: map-get($spacings, 3);
        }
    }
}

.product-info {
    @include mq(xl) {
        position: sticky;
        top: 6rem;
    }
}

.product-intro {
    .h5 {
        display: flex;
        color: map-get($primary, 400);

        .price {
            color: map-get($neutral, 500);
            font-weight: initial;
            align-self: center;
        }
    }

    @include mq(sm) {
        .h4-sm {
            font-family: "Montserrat", sans-serif;
        }

        .h6-sm {
            font-family: "Montserrat", sans-serif;
        }
    }
}

.product-color {
    .product-item {
        margin-right: map-get($spacings, 2);
        max-width: 64px;

        .label-md {
            color: map-get($neutral, 600);
        }
    }
}

.product-sizes-list {
    padding-right: 1.875rem;
    display: flex;
    flex-wrap: wrap;

    .row {
        @include space(margin, 0);
        margin: 0 -.25rem;
    }

    .row > * {
        @include space(padding, 0, 1);
    }

    .btn {
        @include space(margin, 0);
        border: 1px solid map-get($neutral, 300);
        width: 100%;

        &.active {
            border: 1px solid map-get($neutral, 900);
        }

        &:hover {
            border: 1px solid map-get($neutral, 600);
        }

        &:disabled, &.disabled, &.disabled:hover {
            border: 1px solid map-get($neutral, 300);
            cursor: not-allowed;
        }
    }

    @include mq(xxl) {
        padding-right: 0;
    }

    @include mq(sm) {
        padding-right: 23px;
    }

    @include mq(xs) {
        padding-right: 0;
    }
}

.product-sizes {
    .p-sm {
        color: map-get($danger, 300);
    }
}

.product-btns {
    .row {
        @include space(margin, 0);
        margin: 0 -.25rem;
    }

    .row > * {
        @include space(padding, 0, 1);
    }

    .btn {
        display: flex;
        width: 100%;
        font-size: 1.25rem;
        justify-content: center;
        
        i {
            border: none;
            display: inline-block;
            width: auto;
            align-self: center;
            background: none;
            
            &:hover {
                background: none;
            }
        }
    }

    @include mq(sm) {
        .row {
            flex-direction: row-reverse;
            flex-wrap: nowrap;
        }

        .col-6 {
            width: 100%;
        }

        .col-6:first-child {
            width: auto;
        }

        .btn {

            &.btn-neutral-outlined {
                border: none;
                @include space(padding, 3);
                max-width: 48px;
                font-size: 1.5rem;

                &:hover {
                    color: map-get($primary, 400);
                    background: none;
                }

                .label-md {
                    display: none;
                }
            }
        }
    }
}

.product-matters-item {
    border-bottom: 1px solid map-get($neutral, 300);

    li {
        color: map-get($neutral, 600);
    }
}

.best-seller {
    .h4 {
        padding: 9.5px 0;

        @include mq(lg) {
            @include space(padding, 2, 0);
        }
    }

    @include mq(sm) {
        .container {
            padding-right: map-get($spacings, 0);
        }

        .product-list {
            .row {
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0 auto;

                li:first-child {
                    margin-left: - map-get($spacings, 2);
                }
            }

            .row > * {
                @include space(padding, 0, 2);
            }
        }
    }
}