<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP - 註冊登入</title>
    <link rel="icon" href="../assets/images/favicon.ico">
</head>
<body>
	<%- include('./layout/header'); -%>

	<main>
		<section class="register py-10 py-sm-0">
            <div class="container">
                <div class="row">
                    <div class="col-5 col-xl mb-xl-5 mb-sm-0">
                        <div class="brand-banner"></div>
                    </div>
                    <div class="col-7 col-xl">
                        <div class="register-verify">
                            <h2 class="h3 h4-sm text-center mb-6 mb-sm-5">歡迎！</h2>
                            <nav class="nav mb-6 mb-sm-5">
                                <ul class="nav-tabs">
                                    <li class="nav-item">
                                        <a class="link-verify h6 py-3" href="#" data-type="login">登入</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-verify h6 py-3 active" href="#" data-type="register">註冊</a>
                                    </li>
                                </ul>
                            </nav>
                            <form class="verification" action="" method="GET" method="POST">
                                <button class="btn-verify btn-fb mb-2" type="button">Facebook 註冊</button>
                                <button class="btn-verify btn-apple mb-2" type="button">Apple 註冊</button>
                                <button class="btn-verify btn-google" type="button">Google 註冊</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	</main>
	<%- include('./layout/footer'); -%>
	
	<script type="module" src="../main.js"></script>
</body>
</html>